.languageToggle {
    margin-left: 1em;
}

@media (min-width: 768px) {
    .languageToggle > .btn {
        background-color: rgb(128,0,0);
        border-color: rgb(96,0,0);
    }

    .languageToggle > .btn.active {
        background-color: rgb(160,0,0)!important;
        border-color: rgb(128,0,0)!important;
    }
}
